.js .js-visuallyhidden,.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#plupload-upload-ui {
    position: relative;
}

#plupload-upload-ui .access-tag {
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -102px;
    border: 1px solid #21759B;
    padding: 8px 15px;
    color: #fff;
    background: #0073aa;
}

#plupload-upload-ui.access-checked #drag-drop-area {
    -webkit-transition: border .1s;
    -webkit-transition-delay: 1.75s;
    transition: border .1s 1.75s;
    border-color: #21759b;
}

#plupload-upload-ui.access-checked .access-tag {
    display: block;
    -webkit-animation: appear-and-land 2s;
    animation: appear-and-land 2s;
}

#plupload-upload-ui.access-unchecked #drag-drop-area {
    -webkit-transition: border .7s;
    transition: border .7s;
}

#plupload-upload-ui.access-unchecked .access-tag {
    display: block;
    opacity: 0;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
}
