.rrzeacs tr.default-permission {
    th,
    td {
        background-color: #f0f0f1;
    }
}

span {
    &.access-icon:before {
        color: var(--rrze-ac-access-color);
    }

    &.access-all-icon:before {
        color: var(--rrze-ac-access-all-color);
    }

    &.access-error-icon:before {
        color: var(--rrze-ac-access-error-color);
    }
}

/* Fields */

input.field-invalid,
select.field-invalid {
    border-color: #dc3232 !important;
    box-shadow: 0 0 2px rgba(204, 0, 0, 0.8);

    &:focus {
        border-color: #dc3232 !important;
        box-shadow: 0 0 2px rgba(204, 0, 0, 0.8);
    }
}

/* List Table */

body.edit-php .wp-list-table.fixed {
    .column-access_info {
        text-align: left;
    }

    .access-permission-name {
        margin-left: 4px;
    }
}

td.column-permission_key strong {
    display: block;
    margin-bottom: 0.2em;
    font-size: 14px;
}

.rrzeacs {
    .inactive th.check-column,
    tfoot td.check-column,
    thead td.check-column {
        padding-left: 6px;
    }
}

.rrzeac-update-tr.active td {
    border-left: 4px solid #00a0d2;
}

.rrzeacs .active {
    th.check-column {
        border-left: 4px solid #00a0d2;
    }
}

.rrzeac-install #the-list td {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.rrzeacs {
    .active {
        td,
        th {
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
        }
    }

    .inactive {
        td,
        th {
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
        }
    }
}

.upgrade .rrzeacs {
    td,
    th {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    }
}

.rrzeacs {
    tr.active {
        + tr.inactive {
            td,
            th {
                border-top: 1px solid rgba(0, 0, 0, 0.03);
                box-shadow:
                    0 1px 0 rgba(0, 0, 0, 0.02) inset,
                    0 -1px 0 #e1e1e1 inset;
            }
        }

        &.rrzeac-update-tr + tr.inactive {
            td,
            th {
                border-top: 1px solid rgba(0, 0, 0, 0.03);
                box-shadow:
                    0 1px 0 rgba(0, 0, 0, 0.02) inset,
                    0 -1px 0 #e1e1e1 inset;
            }
        }
    }

    .column-logged_in,
    .column-password,
    .column-sso_logged_in {
        text-align: center;
    }

    .rrze-ac-network-access {
        margin: 0;
        white-space: pre-wrap;
    }
}
